@model PagedList<SAP.Models.Survey>
@using Webdiyer.WebControls.Mvc

@{

    var attr = Request.QueryString["attr"] ?? "0";
    string Category = Request.QueryString["Category"] ?? null;
    string search = Request.QueryString["search"] ?? null;
    string sortBy = Request.QueryString["sortBy"] ?? null;
}

<div ng-app="SapApp" ng-controller="LinkController">

    <div class="well-sm" ng-show="isShowing">
        <label>Generating link for {{ surveyName }}</label>
        <input type="text" class="form-control" ng-model="UID" readonly="readonly" />
    </div>

    <table class="table">
        <tr>

            <th>
                <a href="@Url.Action("Index", "Surveys", new { id = 1, attr = attr, search=search,Category=Category,sortBy = ViewBag.NameSortParm })" target="_self">Name</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Surveys", new { id = 1, attr = attr, search=search,Category=Category,sortBy = ViewBag.DateSortParm })" target="_self">Date</a>
            </th>
            <th>
                Category
            </th>
            <th>
                Type
            </th>
            <th>
                Activation
            </th>
            <th>
                Design
            </th>
            <th>
                Add Interviewers
            </th>
            <th>
                Fill Surveys
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @Html.ActionLink(item.Name, "Answers", new { survey_id = item.Id }, new { target = "_self" })  |
                    @Html.ActionLink("Statistics", "Statistics", new { id_clicked = item.Id }, new { target = "_self" })


                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category1.Category1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyType.Survey_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_active)
                </td>
                <td>
                    @Html.ActionLink("Design", "Design", new { id = item.Id }, new { target = "_self" })
                </td>
                <td>
                    @Html.ActionLink("Add Interviewers", "AddInterviewers", new { id = item.Id }, new { target = "_self" })
                </td>
                <td>
                    @{
                        if (item.Survey_type == 1)
                        {
                            @Html.ActionLink("Fill Survey", "FillOut", new { survey_id = item.Id }, new { target = "_self" })
                        }
                        else
                        {
                            //<a href="#" ng-click="getLink(@item.Id)">Get link</a>
                            @Html.ActionLink("Get Link", "SendingLinks", new { id = item.Id }, new { target = "_self" })
                            //<a href="#" data-toggle="popover" title="Generatin link for @item.Name" data-html="true" data-content="<p>Shareable link</p><input type='text' class='form-control' ng-model='UID' />" ng-click="getLink(@item.Id)">Get link</a>
                        }
                    }

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { target = "_self" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { target = "_self" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { target = "_self" })
                </td>

            </tr>

                        }

    </table>

</div>







