@model IEnumerable<SAP.Models.QueryAnswers>
@{var i = 1;}

@Html.ActionLink("Back To List", "Index")
@{
    if (!Model.Any())
    {
        <hr />
        <div class="container-fluid">
            <div class="alert alert-info">
                <h4>
                    No answers for this survey!
                </h4>

            </div>
        </div>
        <hr />
    }
    else
    {


        <table class="table">
            <tr>
                <th>
                    Survey ReferenceID
                </th>

                <th>
                    Question
                </th>
                <th>
                    Answer
                </th>

            </tr>
            @{
                var idItem = Model.First().paperId;
            }
                
            @foreach (var item in Model)
            {

                if (idItem != item.paperId) {

                    idItem = item.paperId;
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Survey ReferenceID</strong></td>
                        <td><strong>Question</strong></td>
                        <td><strong>Answer</strong></td>
                    </tr>

                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.paperId)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.questionText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.answersText)
                    </td>

                </tr>
               

            }

            
        </table>
    


    }
    @Html.ActionLink("Back To List", "Index")
}